.Rproj.user
/*.Rhistory
.RData
.Ruserdata
vignette-outputs/data-tables
vignette-outputs/figures
vignette-outputs/shapefiles
vignette-outputs/reports
data
data-raw/ne_countries
data-raw/ne_states_provinces
data-raw/slf_lyde_raw_coords_2025-07-07.csv
data-raw/slf_gbif_raw_coords_2025-07-07.csv
data-raw/slf_gbif_raw_query_2025-07-07.csv
data-raw/slf_gbif_raw_coords_2024-09-02.csv
data-raw/slf_gbif_raw_query_2024-09-02.csv
data-raw/slf_lyde_raw_coords_2024-07-29.csv
data-raw/slf_kim-etal_coords_raw.csv
dara-raw/DDs_to_reach_lifestages_Calvin_03102021.png
sandbox
